/* style css */

/* Nav Bar */
.navbar{
    background: #212121;
}

/* HOMEPAGE */

#home{
    background: #222 url('../img/background2.jpg') no-repeat;
    /* background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; */
}
