/* Style css */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/* Font text */
p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1em;
}

/* HOMEPAGE */

#home{
    background: #222 url('../img/homepage.jpg') no-repeat center;
    height: 1024px;
}

.jumbotron{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#about {
    background-color: #222;
    color: whitesmoke
}

.btn-outline-light:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #f8f9fa;
}

.jumbotron{
    background-color: rgba(52, 58, 64, 0.84);
    color: whitesmoke;
}


/* header */
/* header {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(29, 26, 26, 0.84);
} */

/* footer */
/* footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(29, 26, 26, 0.84);
} */

h3, display-3{
    font-family: 'Kaushan Script',
    cursive;
}

/* Dashboard */

.btn-admin{
    /* background-color: rgba(19, 18, 18, 0.89); */
    border: none;
    border-radius: 3px;
    box-shadow: 6px 6px 20px 4px rgba(52, 58, 64, 0.84);
    color: whitesmoke;
    cursor: pointer;
    font-size: 1em;
    outline: none;
    padding: 30px;
    transition: 0.2s;
    width: 200px;
    height: 200px;
    margin: 3%;
    justify-content: center;
}

.amber{
    background-color: #FFAB00;
}

.green{
    background-color: #4CAF50;
}

.blue{
    background-color: #2196F3;
}

.indigo{
    background-color: #3F51B5;
}

.blue-grey{
    background-color: #263238;
}

.red{
    background-color: #B71C1C;
}

.btn-admin:hover{
    box-shadow: 6px 6px 25px 4px rgba(52, 58, 64, 0.84);
    transform: scale(1.01);
}

.btn-admin:active{
    box-shadow: 6px 6px 18px 2px rgba(52, 58, 64, 0.84);
    transform: scale(0.98);
}

/* Table */
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.28);
}

/* Form */

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #040404;
    outline: none;
}